.container {
  min-height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #d1421e36;
  color: #d1411e;
}

.table tr td {
  text-align: center;
}

.table th {
  padding: 6px;
}

.table td {
  padding: 10px 0;
}

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}

.wrapper {
  margin: 0 20px 0 30px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.title {
  margin: 0;
}
.subTotal,
.discount,
.grandTotal {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 8px;
}

.grandTotal {
  border: 2px dashed #000;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 18px;
  margin: 1em 0;
}

.checkOutBtn {
  background-color: #d1411e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 0;
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton {
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  outline: none;
  border: none;
  font-weight: bold;
  background-color: #d1411e;
  color: #fff;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.payButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  background: transparent;
  height: 100%;
  border-left: 2px solid #d1411e;
  border-right: 2px solid #d1411e;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  transform: scaleX(0.9);
}
.payButton:hover.payButton::before {
  transform: scaleX(1.04);
}
