.footer {
  /* height: 60vh; */
  background-color: #d1411e;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2em;
}
.footerContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.brandLogo {
  display: flex;
  gap: 10px;
}
.pizzaLogo {
  width: 140px;
  height: 140px;
}
.logo {
  width: 210px;
  /* height: 140px; */
}
.brandLogoGroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.brandLogoGroup h2 {
  color: #fff;
  font-weight: 400;
}
.copyright{
    color: #fff;
    display:flex;
    justify-content: center;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  margin-top: 1em;
  color: #fff;
}
.list p{
  cursor: pointer;
}
.footerLinks h3,
.socialMeidaLinks h3 {
  color: #ffcb59;
}
.footerSocialLinks{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.footerSocialLinks .footerSocialIcon{
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}
.footerSocialLinks .footerSocialIcon:hover{
  color: #ffcb59;
}