.container {
  height: calc(100vh - 100px);
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 20px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.price {
  color: #d1411e;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #d1411e;
}

.desc{
  font-size: 18px;
  width: 70%;
}

.choose{
  font-size: 20px;
}

.sizes {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.size {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.size:nth-child(2) {
  width: 40px;
  height: 40px;
}

.size:last-child {
  width: 50px;
  height: 50px;
}

.number {
  position: absolute;
  top: -7px;
  right: -22px;
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 6px;
}

.ingredients {
  margin-bottom: 30px;
  display: flex;
}

.option {
  display: flex;
  margin-right: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(253, 224, 224);
  padding: 2px 4px;
  border-radius: 4px;
}

.option > label {
  font-size: 15px;
  font-weight: bold;
  color: #d1411e;
  margin-left: 4px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
  border: none;
  background-color: rgb(241, 227, 227);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #d1411e;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding: 0 14px;
  border-radius: 4px;

}
